html {
  height: 100%;
  box-sizing: border-box;

}

body {
  font-family: "Inter", sans-serif;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

[data-is-value-valid="true"] {
  border: 1px solid black;
}

[data-is-value-valid="false"] {
  border: 1px solid red;
}



.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;

}

main{
  margin: 30px;
}